/*** 
*    ########  ########  ######  ######## ######## 
*    ##     ## ##       ##    ## ##          ##    
*    ##     ## ##       ##       ##          ##    
*    ########  ######    ######  ######      ##    
*    ##   ##   ##             ## ##          ##    
*    ##    ##  ##       ##    ## ##          ##    
*    ##     ## ########  ######  ########    ##    
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { text-decoration: none; cursor: pointer; }
html { -webkit-font-smoothing: antialiased; } 
* { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
p, h1, h2, h3, h4, h5, h6, strong, a, span, li { -moz-user-select: text; -webkit-user-select: text; -ms-user-select: text; user-select: text; -o-user-select: text; }
input[type="text"], textarea { -webkit-appearance: none; border-radius: 0; }
sup { vertical-align: super; font-size: smaller; }
.clear{  clear: both !important; float: none !important; height: 0px !important; width: 100% !important;  min-height: 0px !important; padding: 0 !important; margin: 0!important; }
img { max-width: 100%; height: auto; }
hr{ margin: 1rem 0rem; }