    
/***
*    ##     ##    ###    ########  ####    ###    ########  ##       ########  ######  
*    ##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       ##    ## 
*    ##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       ##       
*    ##     ## ##     ## ########   ##  ##     ## ########  ##       ######    ######  
*     ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##             ## 
*      ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       ##    ## 
*       ###    ##     ## ##     ## #### ##     ## ########  ######## ########  ######  
*/

$font_principal: 'Oswald', sans-serif;
$font_secondaire: 'Bebas Kai', sans-serif;
$font_text: 'Droid sans', sans-serif;

/* @couleur_vert: #32936f; */
$couleur_vert: #15a380;
$couleur_noir: #222;
$couleur_gris_pale: #f5f5f5;