.containerLogin {
  @apply flex;
}

.textForm {
  @apply pb-10;

  .h3 {
    @apply font-semibold;
  }
}

.containerLeft {
  background-image: url('https://source.unsplash.com/random?mountains');
  background-size: cover;
  background-position: center;

  @apply w-4/12 h-screen;

  .overlay {
    @apply w-full h-screen;
    @apply bg-mediumGrey bg-opacity-50;
  }
}

.containerRight {
  @apply w-8/12 h-screen shadow-2xl;
  @apply flex items-center justify-center; 
  
  > div {
    @apply w-7/12;
  }
}