.table {
  @apply w-full;
  @apply shadow-bs;

  thead {
    tr {
      th {
        @apply bg-lightGrey;
        @apply py-3 px-6;
        @apply text-left;
        @apply border-b-1 border-lightGrey2;
        @apply text-sm;
      }
    }
  }

  tbody {
    tr {
      td {
        @apply bg-lightGrey;
        @apply py-3 px-6;
        @apply border-b-1 border-lightGrey2;
        @apply text-sm;
      }
    }
  }

  .actions {
    button {
      @apply relative outline-none;
      @apply inline-flex items-center;
      margin-left: .05rem;

      &:after {
        @apply relative inline-block bg-mediumGrey mx-2;
        height: 15px;
        width: 1px;
        content: '';
      }

      &:first-child {
        @apply ml-0;
      }

      &:last-of-type {
        &:after {
          @apply hidden;
        }
      }
    }
  }
}